:root{
  --bg-color: #232931;
  --elems-color: #393e46;
  --text-color: #eeeeee;
  --loading-color: #ffffff0f;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: tahoma;
}
.container{
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
input:focus, textarea:focus{
  outline: none;
}

@keyframes loading {
    0% {
        left: -4rem;
    }
    100%{
        left: 100%;
    }
}

@media only screen and (max-width: 992px){
  .container{
      max-width: 624px;
  }
}
@media only screen and (max-width: 768px){
  .container{
      max-width: 448px;
  }
}
@media only screen and (max-width: 480px){
  .container{
      max-width: 280px;
  }
}